<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="address">
	
	<insert id="insertGeneralGroup" parameterType="String">
		INSERT INTO addressBookGroup VALUES(#{memberNum},addressBookGroup_seq.NEXTVAL,'일반')
	</insert>
	<insert id="insertGroup" parameterType="map">
		INSERT INTO addressBookGroup VALUES(#{memberNum},addressBookGroup_seq.NEXTVAL,#{groupName})
	</insert>
	
	<select id="groupList" parameterType="String" resultType="com.sp.addressBook.AddressBook">
		select groupNum,groupName FROM addressBookGroup WHERE memberNum=#{memberNum}
	</select>
	
	<insert id="insertAdress" parameterType="com.sp.addressBook.AddressBook">
		INSERT INTO addressBook(addressBookNum, memberNum, name, tel, fax, email, belongto, zip, addr1, addr2, groupNum)
    			VALUES (addressBook_seq.NEXTVAL, #{memberNum}, #{name}, #{tel}, #{fax}, #{email}, #{belongto}, #{zip}, #{addr1}, #{addr2}, #{groupNum})
	</insert>
	
	<select id="addressList" parameterType="String" resultType="com.sp.addressBook.AddressBook">
		SELECT addressBookNum, name, tel, groupName FROM addressBook a 
			JOIN addressBookGroup g ON a.memberNum=g.memberNum 
			WHERE a.memberNum=#{memberNum}
			ORDER BY name
	</select>
	
	<select id="readAddressInfo" parameterType="Integer" resultType="com.sp.addressBook.AddressBook">
		SELECT addressBookNum, a.memberNum, name, tel, fax, email, belongto, zip, addr1, addr2, a.groupNum, groupName FROM addressBook a 
	    		JOIN addressBookGroup g ON a.memberNum=g.memberNum 
	    		WHERE addressBookNum=#{addressBookNum}
	</select>
	
	
	
</mapper>