<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club">

	<!-- 동호회 추가 -->
	<insert id="createClub" parameterType="com.sp.club.Club">
		INSERT INTO clubInfo(clubNum, clubName, clubSubject, clubIntro, maxPeople, memberNum, clubImg) 
    	VALUES(clubInfo_seq1.NEXTVAL, #{clubName}, #{clubSubject}, #{clubIntro}, #{maxPeople}, #{memberNum}, #{clubImg})
	</insert>
	<insert id="insertFounder" parameterType="String">
		INSERT INTO clubMember(memberNum, clubNum) VALUES(#{memberNum}, clubInfo_seq1.CURRVAL) 
	</insert>
	<insert id="insertBasicCategory">
		INSERT INTO clubBoardCategory(parent,categoryNum, categoryName, clubNum, basicCategory) 
    	VALUES(NULL, clubBoardCategory_seq.NEXTVAL, 'BOARD', clubInfo_seq1.CURRVAL, 1)
	</insert>
	<insert id="insertBasicCategory_notice">
		INSERT INTO clubBoardCategory(parent, categoryNum, categoryName, clubNum, authority, basicCategory) 
		VALUES(clubBoardCategory_seq.CURRVAL-1, clubBoardCategory_seq.NEXTVAL, '공지', clubInfo_seq1.CURRVAL, 1, 2)
	</insert>
	<insert id="insertBasicCategory2">
		INSERT INTO clubBoardCategory(parent,categoryNum, categoryName, clubNum, basicCategory) 
    	VALUES(NULL, clubBoardCategory_seq.NEXTVAL, 'PHOTO', clubInfo_seq1.CURRVAL, 1)
	</insert>
	<insert id="insertBasicCategory2_photo">
		INSERT INTO clubBoardCategory(parent, categoryNum, categoryName, clubNum, basicCategory) 
		VALUES(clubBoardCategory_seq.CURRVAL-1, clubBoardCategory_seq.NEXTVAL, '포토 갤러리', clubInfo_seq1.CURRVAL, 2)
	</insert>
	
	<!-- 동호회 목록 -->
	<select id="clubList" parameterType="map" resultType="com.sp.club.Club">
		SELECT clubNum, clubName, clubSubject, clubIntro, memberNum, clubImg FROM clubInfo
	</select>

	<!-- 입장한 동호회의 정보 -->
	<select id="readClubInfo" parameterType="Integer" resultType="com.sp.club.Club">
		SELECT clubNum, clubName, clubSubject, clubIntro, maxPeople, c.memberNum, m.name memberName, clubImg 
		FROM clubInfo c JOIN member m ON c.memberNum=m.memberNum
		WHERE clubNum = #{clubNum}
	</select>
	<select id="listClubCategory" parameterType="Integer" resultType="com.sp.club.Category">
		SELECT categoryNum, categoryName FROM clubBoardCategory WHERE clubNum=#{clubNum} AND  NVL(parent,0)=0 ORDER BY categoryNum
	</select>
	<select id="listClubCategoryItems" parameterType="Integer" resultType="com.sp.club.Category">
		SELECT categoryNum, categoryName, parent categoryParent FROM clubBoardCategory 
		WHERE clubNum=#{clubNum} AND  NVL(parent,0)!=0
	</select>
	
	<!-- 게시판 카테고리 정보 -->
	<select id="readClubCategory" parameterType="Integer" resultType="Integer">
		SELECT authority FROM clubBoardCategory 
		WHERE categoryNum=#{categoryNum}
	</select>
	
	<!-- 동호회 가입한 사람인지.. -->
	<select id="isClubMember" parameterType="map" resultType="String">
		SELECT memberNum FROM clubMember WHERE memberNum=#{memberNum} AND clubNum=#{clubNum}
	</select>
	
	<!-- 동호회 멤버 리스트 -->
	<select id="listClubMember" parameterType="Integer" resultType="com.sp.club.Club">
		SELECT c.memberNum joinMemberNum, name joinMemberName 
		FROM clubMember c JOIN member m ON c.memberNum=m.memberNum
		WHERE clubNum=#{clubNum}
	</select>
	
	<!-- 동호회 수정 -->
	<update id="updateClubInfo" parameterType="com.sp.club.Club">
		UPDATE clubInfo SET clubName=#{clubName}, clubSubject=#{clubSubject}, clubIntro=#{clubIntro}, maxPeople=#{maxPeople}, clubImg=#{clubImg} 
		WHERE clubNum=#{clubNum}
	</update>
	
	<!-- 동호회 삭제 -->
	<delete id="deleteClub" parameterType="Integer">
		DELETE FROM clubInfo WHERE clubNum=#{clubNum}
	</delete>
	
	
	
	<!-- 카테고리 추가 -->
	<insert id="insertClubCategoryPhase1" parameterType="com.sp.club.Category">
		INSERT INTO clubBoardCategory(categoryNum, categoryName, clubNum) 
		VALUES(clubBoardCategory_seq.NEXTVAL, #{categoryName}, #{clubNum})
	</insert>
	<insert id="insertClubCategoryPhase2" parameterType="com.sp.club.Category">
		INSERT INTO clubBoardCategory(categoryNum, categoryName, clubNum, parent, authority) 
		VALUES(clubBoardCategory_seq.NEXTVAL, #{categoryName}, #{clubNum}, #{categoryParent}, #{authority})
	</insert>
	
	<!-- 카테고리 삭제 -->
	<delete id="deleteClubCategory" parameterType="Integer">
		DELETE FROM clubBoardCategory WHERE categoryNum=#{categoryNum} AND basicCategory=0
	</delete>
	
	<!-- 카테고리 수정 -->
	<update id="updateClubCategory" parameterType="com.sp.club.Category">
		UPDATE clubBoardCategory SET categoryName=#{categoryName} WHERE categoryNum=#{categoryNum} AND basicCategory=0
	</update>
	
	
	<!-- 동호회 가입 멤버추가 -->
	<insert id="insertClubMember" parameterType="map">
		INSERT INTO clubMember(memberNum, clubNum) VALUES(#{memberNum}, #{clubNum}) 
	</insert>
	
	<!-- 동호회 탈퇴 -->
	<delete id="deleteClubMember" parameterType="map">
		DELETE FROM clubMember WHERE memberNum=#{memberNum} AND clubNum=#{clubNum}
	</delete>
	
	<!-- 동호회 멤버수 -->
	<select id="clubMemberCount" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM clubMember WHERE clubNum=#{clubNum}
	</select>
	
	
	<!-- 메인화면에 출력할 공지 게시판 -->
	<select id="listClubNotice_main" parameterType="Integer" resultType="com.sp.clubBoard.Board">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT boardNum, subject, TO_CHAR(created,'yyyy-mm-dd') created, originalFileName
				FROM clubBoard b JOIN clubBoardCategory c ON b.categoryNum=c.categoryNum
		        WHERE b.clubNum=#{clubNum} AND basicCategory=2 AND authority=1
		    ) tb WHERE ROWNUM &lt;= 10
		) WHERE rnum &gt;= 1
	</select>
	
</mapper>