<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubBoard">
	
	<insert id="insertClubBoard" parameterType="com.sp.clubBoard.Board">
		INSERT INTO clubBoard(boardNum, subject, content, saveFileName, originalFileName, memberNum, clubNum, categoryNum)
		VALUES(clubBoard_seq.NEXTVAL, #{subject}, #{content}, #{saveFileName, jdbcType=VARCHAR}, #{originalFileName, jdbcType=VARCHAR}, #{memberNum}, #{clubNum}, #{categoryNum})
	</insert>
	
	<select id="listClubBoard" parameterType="map" resultType="com.sp.clubBoard.Board">
		SELECT boardNum, subject, content, cb.created, cb.saveFileName, cb.originalFileName, cb.memberNum, m.name memberName, clubNum, categoryNum
		FROM clubBoard cb JOIN member m ON cb.memberNum=m.memberNum
		WHERE clubNum=#{clubNum} AND categoryNum=#{categoryNum}
	</select>

	<delete id="deleteClubBoard" parameterType="Integer">
		DELETE FROM clubBoard WHERE boardNum=#{boardNum}
	</delete>
	
	<select id="readClubBoard" parameterType="Integer" resultType="com.sp.clubBoard.Board">
		SELECT boardNum, subject, content, created, saveFileName, originalFileName, memberNum, categoryNum
		FROM clubBoard WHERE boardNum=#{boardNum}
	</select>
	
	<update id="updateClubBoard_withFile" parameterType="com.sp.clubBoard.Board">
		UPDATE clubBoard 
		SET subject=#{subject}, content=#{content}, saveFileName=#{saveFileName, jdbcType=VARCHAR}, originalFileName=#{originalFileName, jdbcType=VARCHAR} 
		WHERE boardNum=#{boardNum}
	</update>
	<update id="updateClubBoard" parameterType="com.sp.clubBoard.Board">
		UPDATE clubBoard SET subject=#{subject}, content=#{content} WHERE boardNum=#{boardNum}
	</update>

	
	<insert id="insertReply" parameterType="com.sp.clubBoard.Reply">
		INSERT INTO clubBoardReply(replyNum, replyContent, boardNum, memberNum)
		VALUES(clubBoardReply_seq.NEXTVAL, #{replyContent}, #{boardNum}, #{memberNum})
	</insert>
	<insert id="insertReplyAnswer" parameterType="com.sp.clubBoard.Reply">
		INSERT INTO clubBoardReply(replyNum, replyContent, boardNum, memberNum,  answer)
		VALUES(clubBoardReply_seq.NEXTVAL, #{replyContent}, #{boardNum}, #{memberNum}, #{answer})
	</insert>
	
	<select id="listReply" parameterType="map" resultType="com.sp.clubBoard.Reply">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT r.replyNum, r.replyContent, r.replyCreated, r.memberNum, m.name memberName, r.boardNum
						,NVL(answerCount, 0) answerCount
				FROM clubBoardReply r
				JOIN member m ON r.memberNum=m.memberNum
				
				LEFT OUTER JOIN (
					SELECT answer, COUNT(*) answerCount
				     	FROM clubBoardReply WHERE NVL(answer, 0)!=0 
				     	GROUP BY answer
				) a ON r.replyNum = a.answer
				
				WHERE boardNum=#{boardNum} AND NVL(r.answer, 0)=0
				ORDER BY r.replyNum DESC
				
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	<select id="replyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM clubBoardReply WHERE boardNum=#{boardNum} AND NVL(answer, 0)=0
	</select>	
	
	<delete id="deleteReply" parameterType="Integer">
		DELETE FROM clubBoardReply WHERE replyNum=#{replyNum}
	</delete>
	
</mapper>