<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config">
	<insert id="insertConfig" parameterType="com.sp.config.Config">
		INSERT INTO config(name, value) VALUES(#{name}, #{value})
	</insert>
	
	<select id="selectConfigByGroup" parameterType="String" resultType="com.sp.config.Config">
		SELECT name, value FROM config WHERE groups = #{groups}
	</select>
	
	<select id="selectConfigByName" parameterType="String" resultType="com.sp.config.Config">
		SELECT name, value FROM config WHERE name = #{name}
	</select>
	
	<update id="updateConfig" parameterType="com.sp.config.Config">
		UPDATE config SET value = #{value}, groups = #{groups}, modifyDate = SYSDATE WHERE name = #{name} 
	</update>
	
	<delete id="deleteConfig" parameterType="String">
		DELETE FROM config WHERE name = #{name}
	</delete>
</mapper>