<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="department">
	<sql id="where-list">
		<if test="searchKey=='all'">
			(INSTR(subject, #{searchValue}) &gt;= 1
			OR DBMS_LOB.INSTR(content, #{searchValue}) &gt;= 1)
		</if>
		
		<if test="searchKey=='subject'">
			INSTR(subject, #{searchValue}) &gt;= 1
		</if>
		
		<if test="searchKey=='content'">
			DBMS_LOB.INSTR(content, #{searchValue}) &gt;= 1
		</if>
						
		<if test="searchKey == 'sendMember'">
			INSTR(sendMember, #{searchValue}) &gt;= 1
		</if>
		
		<if test="searchKey == 'receiveMember'">
			INSTR(toMember, #{toMember}) &gt;= 1
		</if>
	</sql>

	<select id="deptList" resultType="com.sp.department.Department">
		SELECT d1.departmentNum, d1.parentDepartment, d2.departmentName parentDeptName, d1.departmentName, d1.deptGroup, d1.deptOrder
		FROM department d1 
		LEFT OUTER JOIN department d2 ON d2.departmentNum = d1.parentDepartment 
		ORDER BY d1.deptGroup, d1.idx, d1.deptOrder
	</select>
	
	<select id="msgRead" resultType="com.sp.message.Message" parameterType="Integer">
		SELECT msgNum, subject, content, sendTime, readTime, msgKeep, sendMember, toMember, s.name sendMemberName, t.name toMemberName
		FROM message m INNER JOIN member s ON m.sendMember = s.memberNum INNER JOIN member t ON m.toMember = t.memberNum
		WHERE msgNum = #{msgNum}
	</select>
	
	<insert id="msgInsert" parameterType="com.sp.message.Message">
		INSERT INTO message(msgNum, subject, content, sendMember, toMember)
		VALUES(msg_seq.nextval, #{subject}, #{content}, #{sendMember}, #{toMember, jdbcType=VARCHAR})
	</insert>
	
	<insert id="msgInsert2" parameterType="com.sp.message.Message">
		INSERT INTO message(msgNum, subject, content, sendMember, toMember, sendTime)
		VALUES(msg_seq.nextval, #{subject}, #{content}, #{sendMember}, #{toMember, jdbcType=VARCHAR}, TO_DATE(#{sendTime}, 'YYYY-MM-DD HH24:MI'))
	</insert>
	
	<update id="msgUpdateReadTime" parameterType="Integer">
		UPDATE message SET readTime = SYSDATE WHERE msgNum = #{msgNum} AND readTime IS NULL
	</update>
	
	<update id="msgSetMsgKeep" parameterType="map">
		UPDATE message SET msgKeep = #{msgKeep} WHERE msgNum = #{msgNum}
	</update>
	
	<delete id="msgDelete" parameterType="Integer">
		DELETE FROM message WHERE msgNum = #{msgNum}
	</delete>
</mapper>