<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="department">
	<sql id="where-list">
		<if test="searchKey=='all'">
			(INSTR(subject, #{searchValue}) &gt;= 1
			OR DBMS_LOB.INSTR(content, #{searchValue}) &gt;= 1)
		</if>
		
		<if test="searchKey=='subject'">
			INSTR(subject, #{searchValue}) &gt;= 1
		</if>
		
		<if test="searchKey=='content'">
			DBMS_LOB.INSTR(content, #{searchValue}) &gt;= 1
		</if>
						
		<if test="searchKey == 'sendMember'">
			INSTR(sendMember, #{searchValue}) &gt;= 1
		</if>
		
		<if test="searchKey == 'receiveMember'">
			INSTR(toMember, #{toMember}) &gt;= 1
		</if>
	</sql>

	<select id="deptList" resultType="com.sp.department.Department">
		SELECT d1.departmentNum, d1.parentDepartment, d2.departmentName parentDeptName, d1.departmentName, d1.deptGroup, d1.deptOrder, d1.idx
		FROM department d1 
		LEFT OUTER JOIN department d2 ON d2.departmentNum = d1.parentDepartment 
		ORDER BY d1.deptGroup, d1.idx, d1.deptOrder
	</select>
	
	<select id="deptInfoById" resultType="com.sp.member.OrganizationChart" parameterType="Integer">
		SELECT d1.departmentNum, d1.departmentName, d1.deptGroup, d1.deptOrder, m.memberNum, m.name, p.positionName
		FROM department d1 
		LEFT OUTER JOIN department d2 ON d2.departmentNum = d1.parentDepartment 
		LEFT OUTER JOIN member m ON d1.departmentNum = m.departmentNum
		LEFT OUTER JOIN position p ON m.positionNum = p.positionNum
		WHERE d1.departmentNum = #{deptNum}
		ORDER BY d1.deptGroup, d1.idx, d1.deptOrder, p.positionStep
	</select>
	
	<update id="deptInfo" parameterType="Map">
		UPDATE member SET departmentNum = #{deptNum} WHERE memberNum = #{memNum}
	</update> 
</mapper>