<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<!-- 회원 정보 가져오기 -->
    <select id="readMember" resultType="com.sp.member.Member" parameterType="String">
        SELECT m.memberNum,name,birth,tel,phone,zip,addr1,addr2,m.status,TO_CHAR(created,'YYYY-MM-DD')created,email,
        	   saveFilename,originalFilename,m.departmentNum,departmentName,m.positionNum,positionName,b.basicpay
			FROM member m
			LEFT OUTER JOIN memberdetailinfo i ON m.memberNum=i.memberNum
			LEFT OUTER JOIN department d ON m.departmentNum=d.departmentNum
			LEFT OUTER JOIN position p ON m.positionNum=p.positionNum
			LEFT OUTER JOIN basicpay b ON m.memberNum=b.memberNum
			
		WHERE m.memberNum=#{memberNum}
    </select>
	
	<select id="readDetailinfo" resultType="com.sp.member.Member" parameterType="String">
		SELECT birth,email,tel,phone,zip,addr1,addr2 FROM memberDetailinfo WHERE memberNum=#{memberNum}
	</select>
	<select id="readBasicpay" resultType="com.sp.member.Member" parameterType="String">
		SELECT memberNum,basicpay FROM basicpay WHERE memberNum=#{memberNum}
	</select>
	
<!-- insert -->
	<insert id="insertMember" parameterType="com.sp.member.Member">
		INSERT INTO member(memberNum,name,pwd,positionNum,departmentNum,saveFilename,originalFilename)
			VALUES(#{memberNum},#{name},#{pwd},#{positionNum},#{departmentNum},
			#{saveFilename},#{originalFilename})
	</insert>
	
	<insert id="insertMemberDetailinfo" parameterType="com.sp.member.Member">
		INSERT INTO memberdetailinfo(memberNum,birth,email,tel,phone,zip,addr1,addr2)
				 VALUES(#{memberNum},#{birth},#{email},#{tel},#{phone},
				 #{zip},#{addr1},#{addr2})
	</insert>
	
	<insert id="insertBasicpay" parameterType="com.sp.member.Member">
		INSERT INTO basicpay(memberNum, basicpay, changeDate) 
			VALUES(#{memberNum},#{basicpay},SYSDATE)
	</insert>
	
	
	<insert id="insertMemberAuthority" parameterType="com.sp.member.Member">
		INSERT INTO memberauthority(memberNum,Authority) VALUES(#{memberNum},'ROLE_USER')
	</insert>
	
	<insert id="insertQualify" parameterType="com.sp.member.Member">
		INSERT INTO qualify(qualifyNum, memberNum, qualifyCode, qualifyName, serialNum, getDate)
			VALUES(qualify_seq.NEXTVAL,#{memberNum},#{qualifyCode},#{qualifyName},#{serialNum},#{getDate})
	</insert>
	
<!-- 사원조회 검색 조건 -->
	<sql id="where-list">
	  <if test="searchKey=='name'">
	      INSTR(name,#{searchValue})&gt;=1
	  </if>
	  <if test="searchKey=='position'">
	 	 INSTR(positionName,#{searchValue})&gt;=1
	  </if>
	  <if test="searchKey=='department'">
	      INSTR(departmentName,#{searchValue})&gt;=1 
	  </if>
	  <if test="searchKey=='created'">
	      (TO_CHAR(created, 'YYYY-MM-DD') = #{searchValue}
            OR TO_CHAR(created, 'YYYYMMDD') = #{searchValue})
	  </if>
	  <if test="searchKey=='birth'">
	      (TO_CHAR(birth, 'YYYY-MM-DD') = #{searchValue}
            OR TO_CHAR(birth, 'YYYYMMDD') = #{searchValue})
	  </if>
	  <if test="searchKey=='phone'">
	      INSTR(phone,#{searchValue})&gt;=1
	  </if>
	</sql>
	
	<!-- AND 리스트 -->
	<sql id="and-list">
		<if test="">
			AND status=#{chk_status}
		</if>
	</sql>
	
	<!-- 총 사원 카운트 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM member m JOIN department d 
			ON m.departmentNum=d.departmentNum JOIN position p 
			ON m.positionNum=p.positionNum 
			LEFT OUTER JOIN memberDetailinfo i ON m.memberNum=i.memberNum
		<where>
			<if test="searchValue != null and searchValue != ''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 부서 데이터 -->
	<select id="departmentList" resultType="map">
		SELECT departmentNum,departmentName FROM department WHERE departmentType=1
	</select>
	
	<!-- 직급 데이터 -->
	<select id="positionList" resultType="map">
		SELECT positionNum,positionName FROM position ORDER BY positionstep
	</select>
	
	<!-- 자격정보 데이터 -->
	<select id="qualifyList" parameterType="String" resultType="map">
		SELECT qualifyCode,qualifyName,serialNum,TO_CHAR(getDate,'YYYY-MM-DD')getDate FROM qualify WHERE memberNum=#{memberNum}
	</select>
	
	
	<!-- 사원 조회 리스트 -->
	<select id="listMember" parameterType="map" resultType="com.sp.member.Member">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT m.memberNum,name,email,tel,phone,TO_CHAR(created,'YYYY-MM-DD')created,departmentName,positionName 
			     	FROM member m
					LEFT OUTER JOIN memberdetailInfo i ON m.memberNum=i.memberNum
					LEFT OUTER JOIN department d ON m.departmentNum = d.departmentNum 
					LEFT OUTER JOIN position p ON p.positionNum = m.positionNum
                    <where>
                         <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-list"/>
		                 </if>
		                 AND m.departmentNum is NOT NULL AND p.positionNum is NOT NULL 
		           
	                </where>
					ORDER BY m.memberNum DESC
	        ) tb WHERE ROWNUM &lt;= #{end}
	    ) WHERE rnum &gt;= #{start}
	</select>
	

	 <update id="updatepwd" parameterType="com.sp.member.Member">
        UPDATE member SET userPwd=#{userPwd}, modified=SYSDATE
               WHERE memberNum=#{memberNum}
    </update>
	
	<update id="updateMember1" parameterType="com.sp.member.Member">
		UPDATE member SET name=#{name},pwd=#{pwd},modified=SYSDATE,
			saveFilename=#{saveFilename}
			WHERE memberNum=#{memberNum}
	</update>
	
    <update id="updateMember2" parameterType="com.sp.member.Member">
        UPDATE memberdetailinfo SET email=#{email}, 
                     tel=#{tel}, birth=#{birth},
                     zip=#{zip},
                     addr1=#{addr1}, addr2=#{addr2}
               WHERE memberNum=#{memberNum}
    </update>
    
    <update id="updateBasicpay" parameterType="com.sp.member.Member">
    	UPDATE basicpay SET basicpay=#{basicpay},changeDate=SYSDATE WHERE memberNum=#{memberNum}
    </update>
    
    <update id="updateAdmin" parameterType="com.sp.member.Member">
    	UPDATE member SET status=#{status},departmentNum=#{departmentNum},positionNum=#{positionNum} 
    		WHERE memberNum=#{memberNum}
    </update>
    
    <update id="updateQualify" parameterType="com.sp.member.Member">
    	UPDATE qualify SET qualify qualifyCode=#{qualifyCode},qualifyName=#{qualifyName},serialNum=#{serialNum},
    		getDate=#{getDate} WHERE memberNum=#{memberNum}
    </update>
    
    
<!-- DELETE -->
	<delete id="deleteQualify" parameterType="String">
		DELETE FROM qualify WHERE serialNum=#{serialNum} 
	</delete>    
    
	<select id="organizationChart" resultType="com.sp.member.OrganizationChart">
		SELECT d1.departmentNum, d1.parentDepartment, d2.departmentName parentDeptName, d1.departmentName
				, d1.deptGroup, d1.deptOrder, m.memberNum, m.name, p.positionName, p.positionStep
		FROM department d1 
		LEFT OUTER JOIN department d2 ON d2.departmentNum = d1.parentDepartment 
		LEFT OUTER JOIN member m ON d1.departmentNum = m.departmentNum
		LEFT OUTER JOIN position p ON m.positionNum = p.positionNum
		ORDER BY d1.deptGroup, d1.departmentNum, d1.deptOrder, p.positionStep
	</select>
</mapper>